@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
html, body {  
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    font-family: var(--font2);
    font-size: 10vw; /* tamanho da fonte em relação à largura da viewport, tipo 10% de 100% da vh */
    padding-top: 50px;
    font-variant: small-caps; /* para deixar as letras minúsculas em maiúsculas, mas com tamanho menor que as maiúsculas normais */

    /* text-transform: uppercase; para deixar toas as letras maiúsculas*/
}
header > p {
    padding-bottom: 50px;

}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
.normal {
    background-color: white;
    color: black;
}

section {
    padding: 10vh 0vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw; /* tamanho da fonte em relação à largura da viewport */
}
section > p {
    margin-bottom: 2em;
}
.imagem {
    background-color: rgb(31, 30, 30);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.873);
    background-size: cover; /* para cobrir todo o espaço da div */
    background-attachment: fixed; /* para fixar a imagem de fundo */
    background-position: right center; /* para centralizar a imagem */
}
.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.137);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.695);
}
#img1 {
    background-image: url(background001.jpg);
    
}
#img2 {
    background-image: url(background002.jpg);
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}