@charset "UTL-8";

body {
    background-color: #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

    h1 {
        color: #4C5958;
        background-color: #8AA6A3;
    }

    h2 {
        color: #10403B;
    }

    p {
        text-align: justify;
    }
