@charset "UTF-8";

body {
    background-color: rgb(92, 92, 229);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.586);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}