@charset "UTF-8";

* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    max-width: 960px;
    align-content: center;
}

:root {
    --principal: #FF8C00;
    --segunda: #1f5895;
    --terceira: #FFFFFF;
}

body {
    background-color: var(--segunda);
    font-size: 25px;
    text-align: justify;
}

header {
    background-color: var(--principal);
    min-height: 150px;
    text-align: center;
    padding-top: 10px;
}


main {
    background-color: white;
    min-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
}
h1 {
    font-size: 2em;
    color: var(--terceira);
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
}
.geral h2 {
    font-size: 25px;
    padding-bottom: 6px;
}
.geral p {
    font-size: 20px;
    text-align: justify;
    padding-bottom: 10px;
}

.geral div {
    font-size: 20px;
    text-align: justify;
    padding-bottom: 6px;
}