@charset "UTF-8";

:root {
    --principal: #FF8C00;
    --segunda: #f4f7f6;
    --terceira: #ffffff;
    --text-cor: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--segunda);
    color: var(--text-cor);
    line-height: 1.6;
    margin: 0;
}

/*1 Precisamos dizer que o header é o ponto de referencia*/
header {
    background-color: var(--principal);
    color: var(--terceira);
    padding: 30px 20px;
    text-align: center;
    position: relative;
}

.voltar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); /*centraliza verticalmente no header*/
    margin: 0px;
}
/*-----------------------------*/

main {
    background-color: white;
    min-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
}
h1 {
    font-size: 2em;
    color: var(--terceira);
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
}
.geral h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 22px;
    padding-bottom: 6px;
}
.geral p {
    font-size: 20px;
    text-align: justify;
    padding-bottom: 10px;
}

.geral div {
    font-size: 20px;
    text-align: justify;
    padding-bottom: 6px;
}

.voltar img{
    background-color: var(--principal);
    padding-left: 5px;
    width: 40px;
}

.search-container {
    padding: 5px 0;
    text-align: center;
}

#searchInput {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid var(--principal);
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

#searchInput:focus {
    box-shadow: 0px 0px 10px rgba(255, 140, 0, 0.5);
}

/* Classe para esconder itens que não condizem com a busca */
.hide {
    display: none !important;
}