@charset "UTF-8";
header img {
    width: 150px;
    margin-top: 10px;
}
header h1 {
    font-size: 35px;
}
header p {
    justify-content: center;
    font-size: 20px;
    padding: 0 10px;
}
section {
    justify-content: center;
}
section ul {
    flex-flow: column nowrap;
}
section h1 {
    flex-basis: 50px;
}
section ul li {
    width: 90vw;
}