@charset "UTF-8";

* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    max-width: 740px;
    align-content: center;
}
:root {
    --principal: #FF8C00;
    --segunda: #1f5895;
    --terceira: #FFFFFF;
}
body {
    background-color: var(--segunda);
    font-size: 25px;
    text-align: justify;
}

h1 {
    padding-top: 15px;
    text-align: center;
    color: var(--principal);
}
h2 {
    color: var(--principal);
    margin: 20px;
}
img {
    display: block;
    margin: auto;
    padding: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
ul li {
    width: 45%;
    margin-bottom: 20px;
    background-color: var(--principal);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s;
}
ul li a {
    text-decoration: none;
    color: var(--terceira);
    display: block;
}
header p {
    color: var(--terceira);
    margin: 10px;
}
